<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>付不起OA办公系统</title>
        <!--        引入样式-->
        <link
                href="assets/element-plus/index.css"
                rel="stylesheet"
                type="text/css"
        />
        <!--        引入组件-->
        <!-- Import Vue 3 -->
        <script src="assets/vue/vue.global.js"></script>
        <script src="assets/element-plus/index.full.js"></script>
        <script src="assets/axios/axios.js"></script>
        <script src="assets/oa/security.js"></script>
        <!--        <script src="//cdn.jsdelivr.net/npm/vue@3"></script>-->
        <!-- Import component library -->
        <!--        <script src="//cdn.jsdelivr.net/npm/element-plus"></script>-->
        <!--        &lt;!&ndash; Import style &ndash;&gt;-->
        <!--        <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />-->
        <!--        &lt;!&ndash; Import Vue 3 &ndash;&gt;-->
        <!--        <script src="//unpkg.com/vue@3"></script>-->
        <!--        &lt;!&ndash; Import component library &ndash;&gt;-->
        <!--        <script src="//unpkg.com/element-plus"></script>-->
        <style>
            .el-header {
                background-color: rgb(238, 241, 246);
                color: red;
                line-height: 60px;
            }

            .el-aside {
                width: 200px;
                max-height: 100%;
                background-color: rgb(238, 241, 246);
            }

            html, body, #app, el-container {
                padding: 0px;
                margin: 0px;
                height: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <el-container style="height: 100%;border:1px solid #eee">
                <el-header>
<!--                    el-row默认切分成24份，el-col 12刚好为50%-->
                    <el-row>
                        <el-col :span="12">
                            <span style="font-size: 18px;color: darkcyan">
                                付不起OA办公系统
                            </span>
                        </el-col>
                        <el-col :span="12" style="text-align:right">
                            <el-dropdown>
                                <i class="el-icon-s-check" style="font-size: 18px;margin-right: 15px">
                                    <span style="margin-right: 15px">
                                        {{employee.name}}[{{employee.title}}]
                                    </span>
                                </i>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item v-on:click="loginout">
                                            注销
                                        </el-dropdown-item>
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                        </el-col>
                    </el-row>
                </el-header>
                <el-container>
                    <!--                    侧边功能区-->
                    <el-aside>
                        <!--                        默认展开第一个模块功能-->
                        <el-menu :default-openeds="['0']">
                            <template v-for="(item,index) in nodeList">
                                <el-submenu :index="index.toString()">
                                    <template #title>
                                        <i class="el-icon-s-tools">
                                            {{item.node.nodeName}}
                                        </i>
                                    </template>
                                    <template v-for="child in item.children">
                                        <el-menu-item :index="child.nodeId.toString()"
                                                      v-on:click="showPage(child.url)">
                                            {{child.nodeName}}
                                        </el-menu-item>
                                    </template>
                                </el-submenu>
                            </template>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <iframe id="main" name="main" src="https://twitter.com/haruki_iwata"
                                style="width: 100%;height: 95%;
                                border: 0px"></iframe>
                    </el-main>
                </el-container>
            </el-container>
        </div>
    </body>
    <script>
        const Main = {
            data() {
                return {
                    nodeList: [],
                    employee: {
                        name: "",
                        title: ""
                    }
                }
            }
            , methods: {
                showPage(url) {
                    document.getElementById("main").src = url;
                }
                , loginout() {
                    sessionStorage.clear();
                    window.location.href = "/login.html";
                }
            }
            , mounted() {

                // 如果没有用户信息就跳转到登录界面
                // if (sessionStorage.uid == null) {
                //     window.location.href = "/login.html";
                //     //sessionStorage.uid=11;
                // }
                //在axios内部的this指的是windows，在外部的this指的是vue，因此要先用objApp提取出来
                const objApp = this;
                const uid = sessionStorage.uid;
                const eid = sessionStorage.eid;
                //response是axios.get()的返回值
                axios.get("/api/user_info?uid=" + uid + "&eid=" + eid)
                    .then(function (response) {
                        const json = response.data;
                        // console.info(json);
                        json.data.nodeList.forEach(function (item) {
                            objApp.nodeList.push(item);
                        });
                        // console.info(objApp.nodeList);

                        objApp.employee.name = json.data.employee.name;
                        objApp.employee.title = json.data.employee.title;
                    });

                // axios.get("/api/emp_info?eid=" + sessionStorage.eid)
                //     .then(function (response) {
                //         const json = response.data;
                //         console.info(json);
                //         console.info(json.data.employee);
                //         objApp.employee.name = json.data.employee.name;
                //         objApp.employee.title = json.data.employee.title;
                //         console.info(objApp.employee);
                //     });

            }
        };
        const app = Vue.createApp(Main);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</html>